@page
@using Microsoft.EntityFrameworkCore
@inject House2Invest.Data.ApplicationDbContext _contexto
@model ContatoModel
@{
    ViewData["Title"] = "Contato";
    var _appconfig = new House2Invest.Models.AppPerfil();
    try
    {
        _appconfig =
            _contexto.AppPerfil
            .Include(v => v.AppConfiguracoes)
            .Include(x => x.AppConfiguracoes.AppConfiguracoes_Aplicativo)
            .Include(y => y.AppConfiguracoes.AppConfiguracoes_Azure)
            .FirstOrDefault();
    }
    catch (Exception) { }
}

@if (_appconfig == null || _appconfig.AppConfiguracoes.Tema.ToLower().Trim() == "_layout")
{
    <div class="container text-center" style="margin:100px auto;">
        <div class="row">
            <div class="col-12">
                <h2>@ViewData["Title"]</h2>
                <h3>@Model.Mensagem</h3>
                <p>Use essa área para maiores informações.</p>
                <div class="d-flex justify-content-center">
                    <img src="@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.LogotipoEmpresa" class="img-fluid" />
                </div>
                <address>
                    <h1>@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Empresa</h1>
                    @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Logradouro<br />
                    @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Bairro, @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Cidade, @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Estado, @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.CEP<br />
                    <hr />
                    <h5>Telefones:</h5>
                    <a href="tel:@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Fone" title="Ligar para @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Fone">@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Fone</a> -
                    <a href="tel:@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.FoneRecados" title="Ligar para @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.FoneRecados">@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.FoneRecados</a> -
                    <a href="tel:@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Celular" title="Ligar para @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Celular">@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Celular</a><br />
                </address>
                <address>
                    <h5>Emails:</h5>
                    <a href="mailto:@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailSuporte" title="Enviar email para @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailSuporte">Suporte</a> -
                    <a href="mailto:@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailContato" title="Enviar email para @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailContato">Contato</a> -
                    <a href="mailto:@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailVendas" title="Enviar email para @_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailVendas">Vendas</a><br />
                </address>
            </div>
        </div>
    </div>
}

@if (_appconfig == null || _appconfig.AppConfiguracoes.Tema.ToLower().Trim() == "_layoutfundpress")
{
    <section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-2 parallax-window" data-parallax="scroll" data-image-src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/images/wf_ernesto/fundo-contato.jpg">
        <div class="xs-solid-overlay xs-bg-black"></div>
        <div class="container">
            <div class="fundpress-inner-welcome-content">
                <h2 class="color-white">@Model.Mensagem</h2>
            </div>
        </div>
    </section>

    <main class="xs-all-content-wrapper">
        <section class="xs-content-section-padding fundpress-contact-details-section xs-contact-details-section">
            <div class="container">
                <div class="fundpress-heading-title text-center xs-mb-60">
                    <h2 class="cor-house2invest xs-mb-0">Nós estamos aqui para ajudá-lo</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fundpress-contact-details">
                            <div class="xs-mb-40 fundpress-widnow-wraper bordas-imagem-sobre">
                                <div class="fundpress-window-back">
                                    <img src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/images/wf_ernesto/imagem-contato.jpg" class="bordas-imagem-sobre" alt="">
                                </div>
                            </div>
                            <ul class="xs-list-item-icon-text">
                                <li><i class="fa fa-phone color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Fone)</li>
                                <li><i class="fa fa-envelope-o color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailContato)</li>
                                <li><i class="fa fa-map-marker color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Cidade), @(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Estado)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fundpress-contact-details">
                            <div class="xs-mb-40 fundpress-widnow-wraper bordas-imagem-sobre">
                                <div class="fundpress-window-back">
                                    <img src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/images/wf_ernesto/imagem-contato.jpg" class="bordas-imagem-sobre" alt="">
                                </div>
                            </div>
                            <ul class="xs-list-item-icon-text">
                                <li><i class="fa fa-phone color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Fone)</li>
                                <li><i class="fa fa-envelope-o color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailContato)</li>
                                <li><i class="fa fa-map-marker color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Cidade), @(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Estado)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fundpress-contact-details">
                            <div class="xs-mb-40 fundpress-widnow-wraper bordas-imagem-sobre">
                                <div class="fundpress-window-back">
                                    <img src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/images/wf_ernesto/imagem-contato.jpg" class="bordas-imagem-sobre" alt="">
                                </div>
                            </div>
                            <ul class="xs-list-item-icon-text">
                                <li><i class="fa fa-phone color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Fone)</li>
                                <li><i class="fa fa-envelope-o color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.EmailContato)</li>
                                <li><i class="fa fa-map-marker color-green"></i>@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Cidade), @(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Estado)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="xs-section-padding fundpress-contact-us-section xs-contact-us-section" style="background-color: #eeeeee;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 content-center">
                        <div class="xs-section-heading fundpress-section-heading">
                            <div class="xs-heading-title fundpress-heading-title">
                                <h2 class="cor-house2invest">Fale conosco</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique faucibus eleifend. Cras a quam ac ex rhoncus accumsan ac sit amet diam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 content-center">
                        <div class="xs-contact-form-wraper">
                            <form action="javascript:;" method="POST" id="xs-contact-form">
                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-6 xs-padding-0 xs-pr-15">
                                        <div class="xs-input-group">
                                            <label for="xs_contact_name" class="cor-house2invest">Nome</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" name="name" id="xs_contact_name" class="xs-input-control bordas-imagem-cxtxt" placeholder="Nome" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="xs_contact_email" class="cor-house2invest">Email</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-envelope-o color-green xs-input-addon"></i>
                                                <input type="email" name="email" id="xs_contact_email" class="xs-input-control bordas-imagem-cxtxt" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="xs-input-group xs-mb-30">
                                    <label for="xs_contact_subject" class="cor-house2invest">Assunto</label>
                                    <div class="xs-input-group-addon">
                                        <i class="fa fa-sticky-note color-green xs-input-addon"></i>
                                        <input type="text" name="subject" id="xs_contact_subject" class="xs-input-control bordas-imagem-cxtxt" placeholder="Assunto">
                                    </div>
                                </div>
                                <div class="xs-massage-group xs-mb-30">
                                    <label for="x_contact_massage" class="cor-house2invest">Mensagem</label>
                                    <div class="xs-massage-group-addon">
                                        <i class="fa fa-pencil color-green xs-input-addon"></i>
                                        <textarea name="massage" id="x_contact_massage" class="xs-textarea-control bordas-imagem-cxtxt" cols="30" rows="10" placeholder="Mensagem"></textarea>
                                    </div>
                                </div>
                                <div class="xs-submit-wraper content-center">
                                    <input type="submit" name="submit" value="Enviar" id="xs_contact_submit" class="xs-submit-btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="xs-map-section">
            <div id="xs-maps" class="xs-map"></div>
        </div>
    </main>
}
@section Scripts
{
    <script>
        $("#cabecalho_root").removeClass("xs-header-height xs-menu-style-transparent xs-menu-style-border fundpress-header-main-version color-navy-blue v3");
        $("#cabecalho_root").addClass("fundpress-header-inner-version fundpress-header-main-version");
    </script>
}