@using Microsoft.EntityFrameworkCore
@inject House2Invest.Data.ApplicationDbContext _contexto
@inject SignInManager<UsuarioApp> SignInManager
@inject UserManager<UsuarioApp> UserManager
@{
    ViewData["Title"] = "Página inicial";
    var _appconfig = new House2Invest.Models.AppPerfil();
    var _usu = new UsuarioApp();

    try
    {
        _appconfig =
        _contexto.AppPerfil
        .Include(v => v.AppConfiguracoes)
        .Include(x => x.AppConfiguracoes.AppConfiguracoes_Aplicativo)
        .Include(y => y.AppConfiguracoes.AppConfiguracoes_Azure)
        .FirstOrDefault();

        if (User.Identity.IsAuthenticated)
        {
            _usu = _contexto.Users
            .Where(x => x.Email == User.Identity.Name)
            .FirstOrDefault();
        }
    }
    catch (Exception) { }
}
@if (_appconfig == null)
{
    @RenderBody()
}
else
{
    <!doctype html>
    <html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Empresa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Empresa" />
        <meta name="keywords" content="@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Empresa" />
        <meta name="author" content="@_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.Empresa" />
        <link rel="icon" href="/images/icone-house-2-invest.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
                },
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <link href="/temas/metro/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/tether/dist/css/tether.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/nouislider/distribute/nouislider.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/summernote/dist/summernote.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/animate.css/animate.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/toastr/build/toastr.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/morris.js/morris.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/general/socicon/css/socicon.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/custom/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/custom/vendors/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/vendors/custom/vendors/flaticon2/flaticon.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/app/custom/wizard/wizard-v2.default.css" rel="stylesheet" type="text/css" />
        <link href="/temas/metro/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/css/plugins.css" />
        <link rel="stylesheet" href="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/css/style.css">
        <link rel="stylesheet" href="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/css/responsive.css" />
        <link rel="stylesheet" href="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/css/depoisdalinha.css">
        <link href="/temas/metro/vendors/custom/vendors/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="preloader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <div class="cabecalho-topo-pagina-inicial">
            <div class="row">
                <div class="col-12">
                    <nav class="xs-menus fundpress-menu fundpress-menu-v2___">
                        <div class="nav-menus-wrapper___">
                            <div class="xs-navs-button">
                                <ul class="xs-icon-with-text text-center ul-menu-conta-paginicial">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li>
                                            <a asp-area="Identity" asp-page="/Account/Manage/PerfilMeusDocumentos"><i class="fa fa-chart-area" title="Totalizadores e documentação"></i></a>
                                        </li>
                                        <li>
                                            <a href="/BlocosProjInvestValor"><i class="fa fa-history" title="Investimentos e comprovantes"></i></a>
                                        </li>
                                        <li>
                                            <a href="/ControleTransf"><i class="fa fa-file-contract" title="Controle de transferências"></i></a>
                                        </li>
                                    }
                                    <li>
                                        @if (!SignInManager.IsSignedIn(User))
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-unlock-alt color-white"></i> LOGIN</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" onclick="formLogoutFundPress.submit();" title="Finalizar sessão"><i class="fa fa-times color-white"></i> SAIR</a>
                                        }
                                    </li>
                                    <li>
                                        @if (!SignInManager.IsSignedIn(User))
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user color-white"></i> CRIAR CONTA</a>
                                        }
                                        else
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Logado com @User.Identity.Name"><img src="@_usu.AvatarUsuario" style="border-radius:100%;max-width:100%;height:20px;padding-right:3px;" /> PERFIL</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <header id="cabecalho-principal-website" class="xs-header-section xs-header-height fundpress-header-main-version">
            <div class="container">

                <div class="row mt-5">
                    <div class="col-12">
                        <a href="/">
                            <img src="/images/Joao_house2invest.png" alt="" style="display:block;margin:auto;">
                        </a>
                    </div>
                </div>
                <nav class="xs-menus fundpress-menu fundpress-menu-v2">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                        <a class="nav-brand nav-logo" href="/">
                            <img src="/images/Joao_house2invest.png" alt="">
                        </a>
                    </div>
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu">
                            <li><a asp-page="Index">Início</a></li>
                            <li><a asp-page="Sobre">Saiba mais</a></li>
                            <li><a asp-page="Contato">Contato</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="modal fade bd-example-modal-lg xs-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="fundpress-tab-nav-v5">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#login" role="tab" data-toggle="tab">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#signup" role="tab" data-toggle="tab">
                                    Signup
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="login">
                            <form action="#" method="POST" id="xs-login-form">
                                <div class="xs-input-group-v2">
                                    <i class="icon icon-profile-male"></i>
                                    <input type="text" name="name" id="xs_user_login_name" class="xs-input-control" placeholder="Enter your username">
                                </div>
                                <div class="xs-input-group-v2">
                                    <i class="icon icon-key2"></i>
                                    <input type="password" name="name" id="xs_login_password" class="xs-input-control" placeholder="Enter your password">
                                </div>
                                <div class="xs-submit-wraper xs-mb-20">
                                    <input type="submit" name="submit" value="login now" id="xs_contact_get_action" class="btn btn-warning btn-block">
                                </div>
                                <p class="xs-mb-20">or</p>
                                <div class="xs-submit-wraper xs-mb-20">
                                    <input type="submit" name="submit" value="Login with facebook account" id="xs_facebook" class="btn btn-info btn-block">
                                </div>
                                <div class="xs-submit-wraper">
                                    <input type="submit" name="submit" value="Login with twitter account" id="xs_twitter" class="btn btn-success btn-block">
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fadeInRights fade" id="signup">
                            <form action="#" method="POST" id="xs-register-form">
                                <div class="xs-input-group-v2">
                                    <i class="icon icon-profile-male"></i>
                                    <input type="text" name="name" id="xs_register_name" class="xs-input-control" placeholder="Enter your username">
                                </div>
                                <div class="xs-input-group-v2">
                                    <i class="icon icon-envelope2"></i>
                                    <input type="email" name="email" id="xs_register_email" class="xs-input-control" placeholder="Enter your email">
                                </div>
                                <div class="xs-input-group-v2">
                                    <i class="icon icon-key2"></i>
                                    <input type="password" name="name" id="xs_register_password" class="xs-input-control" placeholder="Enter your password">
                                </div>
                                <div class="xs-input-group-v2">
                                    <i class="icon icon-key2"></i>
                                    <input type="password" name="name" id="xs_register_repeat_pass" class="xs-input-control" placeholder="Enter your confirm password">
                                </div>
                                <div class="xs-submit-wraper xs-mb-20">
                                    <input type="submit" name="submit" value="login now" id="xs_register_get_action" class="btn btn-warning btn-block">
                                </div>
                                <p class="xs-mb-20">or</p>
                                <div class="xs-submit-wraper xs-mb-20">
                                    <input type="submit" name="submit" value="Login with facebook account" id="xs_register_facebook" class="btn btn-info btn-block">
                                </div>
                                <div class="xs-submit-wraper">
                                    <input type="submit" name="submit" value="Login with twitter account" id="xs_register_twitter" class="btn btn-success btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <footer class="xs-footer-section fundpress-footer-section v3">
            <div class="fundpress-footer-top-layer">
                <div class="container">

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="fundpress-single-footer">
                                <div class="xs-footer-logo">
                                    <a href="/">
                                        <img src="@(_appconfig.AppConfiguracoes.AppConfiguracoes_Aplicativo.LogotipoEmpresa)" alt="" style="display:block;margin:auto;max-height:110px;">
                                    </a>
                                </div>

                                <div class="row my-5">
                                    <div class="col-12 center text-center">
                                        <ul class="xs-social-list center text-center">
                                            <li>
                                                <a href="https://transparencyreport.google.com/safe-browsing/search?url=@($"{this.Context.Request.Scheme}://{this.Context.Request.Host}{this.Context.Request.Path}{this.Context.Request.QueryString}")" target="_blank" class="mx-auto text-center">
                                                    <img src="/images/footer-logo-goo-seguranca.png" style="max-height:45px;" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://azure.microsoft.com/pt-br/status/" target="_blank" class="mx-auto text-center">
                                                    <img src="/images/azure-1.png" style="max-height:45px;" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="fundpress-footer-content">
                                    <p style="color:#d1d1d1;font-size:16px;text-align:justify;">
                                        As sociedades empresárias de pequeno porte e as ofertas apresentadas nesta plataforma estão automaticamente dispensadas de registro pela Comissão de Valores Mobiliários - CVM. A CVM não analisa previamente as ofertas. As ofertas realizadas não implicam por parte da CVM a garantia da veracidade das informações prestadas, de adequação à legislação vigente ou julgamento sobre a qualidade da sociedade empresária de pequeno porte. Antes de aceitar uma oferta leia com atenção as informações essenciais da oferta, em especial a seção de alertas sobre riscos
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4" style="font-size:12px;">
                        <div class="col-3">
                            <nav class="xs-footer-menu">
                                <ul>
                                    <li>
                                        <a asp-page="Sobre">
                                            Saiba mais
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://depoisdalinha.blob.core.windows.net/house2invest/docs/Política_de_Privacidade.pdf" target="_blank">
                                            Política de Privacidade
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://depoisdalinha.blob.core.windows.net/house2invest/docs/Material_Didatico_H2I.pdf" target="_blank">
                                            Material Didático
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-3">
                            <nav class="xs-footer-menu">
                                <ul>
                                    <li>
                                        <a href="" target="_blank">
                                            FAQ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://depoisdalinha.blob.core.windows.net/house2invest/docs/ANEXO_5_-_IV_-_LISTA_CONSOLIDADA_DE_OFERTAS_ENCERRADAS_H2I.docx" target="_blank">
                                            Ofertas Encerradas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank">
                                            Publicação Autorização CVM
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-3">
                            <nav class="xs-footer-menu">
                                <ul>
                                    <li>
                                        <a href="https://depoisdalinha.blob.core.windows.net/house2invest/docs/TERMO_DE_USO_H2I.pdf" target="_blank">
                                            Termos de Uso
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-page="AvisodeRisco">
                                            Aviso de Risco
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://depoisdalinha.blob.core.windows.net/house2invest/docs/Layout_Sociedades_Inadimplentes.docx" target="_blank">
                                            Sociedade de Inadimplentes
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-page="RegrasGerais">
                                            Regras Gerais
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-3">
                            <nav class="xs-footer-menu">
                                <ul class="text-light">
                                    <li>
                                        CONTATO
                                    </li>
                                    <li>
                                        contato@house2invest.com.br
                                    </li>
                                    <li>
                                        (18) 3117.6597
                                    </li>
                                    <li style="line-height:20px;">
                                        Av. Paulista, 2202 – cj 113 – Bela Vista,<br />
                                        São Paulo/SP. CEP.: 01310-300
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 center text-center">
                            <ul class="xs-social-list fundpress-social-list center text-center">
                                <li><a href="https://www.facebook.com/House2Invest-352236805373840" target="_blank" class="color-facebook full-round" style="color:#0973ba;"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="" target="_blank" class="color-facebook full-round" style="color:#0973ba;"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/house2invest" target="_blank" class="color-instagram full-round" style="color:#0973ba;"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="" target="_blank" class="color-instagram full-round" style="color:#0973ba;"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="xs-footer-bottom-layer fundpress-footer-bottom">
                <div class="container">
                    <div class="xs-footer-bottom-wraper">
                        <div class="xs-copyright-text fundpress-copyright-text">
                            <p>Idealizado pela House2Invest - Front: <b>Franklin Gomes</b> - Back/Sistema: <a href="http://www.depoisdalinha.com.br" target="_blank">Depois da Linha</a> - ver: 1.0.0</p>
                        </div>
                        <div class="xs-back-to-top-wraper">
                            <a href="#cabecalho-principal-website" class="xs-back-to-top full-round green-btn xs-back-to-top-btn show-last-pos">
                                <i class="fa fa-angle-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            var KTAppOptions = {
                "colors": {
                    "state": {
                        "brand": "#5d78ff",
                        "dark": "#282a3c",
                        "light": "#ffffff",
                        "primary": "#5867dd",
                        "success": "#34bfa3",
                        "info": "#36a3f7",
                        "warning": "#ffb822",
                        "danger": "#fd3995"
                    },
                    "base": {
                        "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                        "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                    }
                }
            };
        </script>
        <script src="/temas/metro/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/js/plugins.js"></script>
        <script src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/js/jquery.countdown.min.js"></script>
        <script src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/js/parallax.min.js"></script>
        <script src="@(_appconfig.AppConfiguracoes.CaminhoAbsolutoTema)assets/js/main.js"></script>
        <script src="/js/mascaras_e_afins.js"></script>
        @if (User.Identity.IsAuthenticated)
        {
            <script src="/lib/signalr/signalr.js"></script>
            <script src="/hubCore/core.signalR.js"></script>
            <script src="/hubCore/core.correio.js"></script>
        }
        @*<script src="/temas/metro/app/custom/general/components/charts/amcharts/graficos.js" type="text/javascript"></script>*@
        
        <script src="/temas/metro/vendors/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/js-cookie/src/js.cookie.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/moment/min/moment.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/wnumb/wNumb.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/block-ui/jquery.blockUI.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/components/vendors/bootstrap-datepicker/init.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/components/vendors/bootstrap-timepicker/init.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/components/vendors/bootstrap-switch/init.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/select2/dist/js/select2.full.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/handlebars/dist/handlebars.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/nouislider/distribute/nouislider.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/autosize/dist/autosize.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/clipboard/dist/clipboard.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/dropzone/dist/dropzone.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/summernote/dist/summernote.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/markdown/lib/markdown.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/components/vendors/bootstrap-markdown/init.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/components/vendors/bootstrap-notify/init.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/jquery-validation/dist/messages_pt_BR.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/components/vendors/jquery-validation/init.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/toastr/build/toastr.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/raphael/raphael.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/morris.js/morris.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/counterup/jquery.counterup.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/custom/components/vendors/sweetalert2/init.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/jquery.repeater/src/lib.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/jquery.repeater/src/jquery.input.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/jquery.repeater/src/repeater.js" type="text/javascript"></script>
        <script src="/temas/metro/vendors/general/dompurify/dist/purify.js" type="text/javascript"></script>
        <script src="/temas/metro/app/custom/general/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
        <script src="/temas/dpslintm1/assets/js/depoisdalinha.js" type="text/javascript"></script>
        <script src="/temas/metro/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
        <script src="/temas/metro/app/custom/general/dashboard.js" type="text/javascript"></script>
        <script src="/temas/metro/app/bundle/app.bundle.js" type="text/javascript"></script>
        <script src="/temas/cms/js/custom-file-input.js"></script>
    </body>
</html>
}
@RenderSection("Scripts", required: false)
<form id="formLogoutFundPress" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page(" Index")" method="post"></form>