@page
@using Microsoft.EntityFrameworkCore
@inject House2Invest.Data.ApplicationDbContext _context
@model House2Invest.Pages.BlocosProjInvest.EditModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}
<style>
    .sweet-alert {
        background-color: rgba(255, 255, 255, .95);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        max-width: 80%;
        min-height: 100%;
        padding: 17px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        right: 0px;
        bottom: 0px;
        margin-left: auto;
        margin-top: auto;
        overflow: hidden;
        display: none;
        z-index: 99999;
        border: 0.5px solid rgba(20, 20, 20,.2);
        box-shadow: 0px 40px 130px rgba(0,0,0,.6);
    }

    .sa-button-container {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin: initial;
        margin-bottom: 15px;
        width: 100%;
    }

        .sa-button-container button {
            display: block;
            margin: auto auto;
            text-align: center;
        }

    .sweet-alert button.cancel {
        background-color: #dc3545;
        color: #fff;
    }

        .sweet-alert button.cancel:hover {
            background-color: #dc3545;
        }
</style>
<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0"><i class="o-clock-1 mr-3 text-gray"></i> Criando um registro</h6>
                    </div>
                    <div class="card-body">
                        <div class="pb-5">
                            <form id="formPrincipal" name="formPrincipal" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="BlocoProjInvestimento.Id" />
                                <div class="form-group row mb-4">
                                    <div class="col-md-12 ml-auto pull-right">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <ul class="nav nav-tabs" id="myTab" name="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-archive"></i> Principal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="documentacao-tab" data-toggle="tab" href="#documentacao" role="tab" aria-controls="documentacao"><i class="fa fa-list"></i> Documentos exigidos</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row py-3">

                                            <div class="col-12 text-center my-5">
                                                <div class="form-group">
                                                    @*<label class="control-label" asp-for="BlocoProjInvestimento.Status"></label>*@
                                                    @{
                                                        string _descriStatus = "A";
                                                        string _cor = "blue";
                                                        if (Model.BlocoProjInvestimento.Status == "I")
                                                        {
                                                            _descriStatus = "<i class='fas fa-question'></i> INDEFINIDO";
                                                            _cor = "grey";
                                                        }
                                                        else if (Model.BlocoProjInvestimento.Status == "A")
                                                        {
                                                            _descriStatus = "<i class='fas fa-play'></i> EM ANDAMENTO";
                                                            _cor = "blue";
                                                        }
                                                        else if (Model.BlocoProjInvestimento.Status == "C")
                                                        {
                                                            _descriStatus = "<i class='fas fa-ban'></i> CANCELADO";
                                                            _cor = "red";
                                                        }
                                                        else if (Model.BlocoProjInvestimento.Status == "E")
                                                        {
                                                            _descriStatus = "<i class='fas fa-check-circle'></i> ENCERRADO";
                                                            _cor = "green";
                                                        }
                                                        else if (Model.BlocoProjInvestimento.Status == "S")
                                                        {
                                                            _descriStatus = "<i class='fas fa-pause'></i> SUSPENSO";
                                                            _cor = "darkorange";
                                                        }

                                                        <b style="font-size:40px;color:@_cor;">@Html.Raw(_descriStatus)</b>
                                                    }
                                                    @*
                                                        <select class="form-control" asp-for="BlocoProjInvestimento.Status" disabled>
                                                            <option value="I">INDEFINIDO</option>
                                                            <option value="A">EM ANDAMENTO</option>
                                                            <option value="C">CANCELADO</option>
                                                            <option value="E">ENCERRADO</option>
                                                            <option value="S">SUSPENSO</option>
                                                        </select>
                                                    *@
                                                    <span class="text-danger field-validation-valid" asp-for="BlocoProjInvestimento_Status" data-valmsg-replace="true"></span>
                                                </div>

                                            </div>


                                            <div class="col-12 text-center">
                                                <div class="form-group">
                                                    <input type="hidden" asp-for="BlocoProjInvestimento.UrlImgPrinc" />
                                                    <img id="imgprevia_logotipo" src="@Html.Raw(Model.BlocoProjInvestimento.UrlImgPrinc)" class="img-fluid mx-auto" />
                                                </div>
                                                <div class="form-group js">
                                                    <input asp-for="BlocoProjInvestimento.ImagemDestaque" type="file" class="inputfile inputfile-3" data-multiple-caption="{count} selecionado" onchange="carregaPrevia(event, 'imgprevia_logotipo')" />
                                                    <label asp-for="BlocoProjInvestimento.ImagemDestaque" class="mx-auto" title="Alterar a imagem"><div class="icon icon-lg shadow mr-3 mx-auto"><i class="fa fa-upload"></i></div></label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="BlocoProjInvestimento.Titulo" class="control-label"></label>
                                                    <textarea asp-for="BlocoProjInvestimento.Titulo" class="form-control" rows="5" required autofocus></textarea>
                                                    <span asp-validation-for="BlocoProjInvestimento.Titulo" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox" style="padding-top:37px;">
                                                        <input asp-for="BlocoProjInvestimento.Ativo" type="checkbox" class="custom-control-input">
                                                        <label asp-for="BlocoProjInvestimento.Ativo" class="custom-control-label" for="BlocoProjInvestimento_Ativo"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="BlocoProjInvestimento.DescricaoDetalhadaProjeto" class="control-label"></label>
                                                    <textarea asp-for="BlocoProjInvestimento.DescricaoDetalhadaProjeto" class="form-control summernote" rows="10" style="min-height:600px !important;"></textarea>
                                                    @*<textarea asp-for="BlocoProjInvestimento.DescricaoDetalhadaProjeto" class="form-control summernote" rows="10"></textarea>*@
                                                    <span asp-validation-for="BlocoProjInvestimento.DescricaoDetalhadaProjeto" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="BlocoProjInvestimento.Valor" class="control-label"></label>
                                                    <input asp-for="BlocoProjInvestimento.Valor" class="form-control" onkeyup="formatarMoeda('BlocoProjInvestimento_Valor');" required />
                                                    <span asp-validation-for="BlocoProjInvestimento.Valor" class="text-danger"></span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group" hidden>
                                                            <div class="custom-control custom-checkbox" style="padding-top:37px;">
                                                                <input asp-for="BlocoProjInvestimento.BlocoProjInvest_ExibTitulo" type="checkbox" class="custom-control-input">
                                                                <label asp-for="BlocoProjInvestimento.BlocoProjInvest_ExibTitulo" class="custom-control-label" for="BlocoProjInvestimento_BlocoProjInvest_ExibTitulo"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group" hidden>
                                                            <div class="custom-control custom-checkbox" style="padding-top:37px;">
                                                                <input asp-for="BlocoProjInvestimento.Contador_Exib" type="checkbox" class="custom-control-input">
                                                                <label asp-for="BlocoProjInvestimento.Contador_Exib" class="custom-control-label" for="BlocoProjInvestimento_Contador_Exib"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="BlocoProjInvestimento.Contador_DataFinal" class="control-label"></label>
                                                    <input asp-for="BlocoProjInvestimento.Contador_DataFinal" type="datetime" class="form-control campo_data" />
                                                    <span asp-validation-for="BlocoProjInvestimento.Contador_DataFinal" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="BlocoProjInvestimento.LanceMinimo" class="control-label"></label>
                                                    <input asp-for="BlocoProjInvestimento.LanceMinimo" type="text" class="form-control" onkeyup="formatarMoeda('BlocoProjInvestimento_LanceMinimo');" />
                                                    <span asp-validation-for="BlocoProjInvestimento.LanceMinimo" class="text-danger"></span>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label" asp-for="BlocoProjInvestimento.ConstrutoraId"></label>
                                                    <select class="form-control" asp-for="BlocoProjInvestimento.ConstrutoraId">
                                                        @foreach (var item in _context.Construtoras)
                                                        {
                                                            <option value="@item.Id">@Html.Raw(item.NomeFantasia)</option>
                                                        }
                                                    </select>
                                                    <span class="text-danger field-validation-valid" asp-for="BlocoProjInvestimento_ConstrutoraId" data-valmsg-replace="true"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" asp-for="BlocoProjInvestimento.GaleriaPerfilAlbumId"></label>
                                                    <select class="form-control" asp-for="BlocoProjInvestimento.GaleriaPerfilAlbumId">
                                                        @foreach (var item in _context.GaleriaPerfilAlbum)
                                                        {
                                                            <option value="@item.Id">@Html.Raw(item.Nome)</option>
                                                        }
                                                    </select>
                                                    <span class="text-danger field-validation-valid" asp-for="BlocoProjInvestimento_GaleriaPerfilAlbumId" data-valmsg-replace="true"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.Contato_CEP"></label>
                                                        <input asp-for="BlocoProjInvestimento.Contato_CEP" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.Contato_Logradouro"></label>
                                                        <input asp-for="BlocoProjInvestimento.Contato_Logradouro" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.Contato_LogradouroNum"></label>
                                                        <input asp-for="BlocoProjInvestimento.Contato_LogradouroNum" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.Contato_Bairro"></label>
                                                        <input asp-for="BlocoProjInvestimento.Contato_Bairro" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.Contato_Cidade"></label>
                                                        <input asp-for="BlocoProjInvestimento.Contato_Cidade" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.Contato_Complemento"></label>
                                                        <input asp-for="BlocoProjInvestimento.Contato_Complemento" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.Contato_Estado"></label>
                                                        <input asp-for="BlocoProjInvestimento.Contato_Estado" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.LinkVideoProjeto"></label>
                                                        <input asp-for="BlocoProjInvestimento.LinkVideoProjeto" type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_TIR_TIT"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_TIR_TIT" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_TIR_INI"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_TIR_INI" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_TIR_FIM"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_TIR_FIM" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_PRE_TIT"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_PRE_TIT" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_PRE_INI"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_PRE_INI" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_PRE_FIM"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_PRE_FIM" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_ROI_TIT"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_ROI_TIT" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_ROI_INI"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_ROI_INI" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" asp-for="BlocoProjInvestimento.Rentabilidade_ROI_FIM"></label>
                                                                <input asp-for="BlocoProjInvestimento.Rentabilidade_ROI_FIM" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.AndamentoObra"></label>
                                                        <input asp-for="BlocoProjInvestimento.AndamentoObra" type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" asp-for="BlocoProjInvestimento.AndamentoObraAcabamento"></label>
                                                        <input asp-for="BlocoProjInvestimento.AndamentoObraAcabamento" type="text" class="form-control">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="documentacao" role="tabpanel" aria-labelledby="documentacao-tab">
                                        <div class="row py-3">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-11">
                                                                <h6 class="text-uppercase pt-2">Bloco de investimento / Lista de documentação</h6>
                                                            </div>
                                                            <div class="col-1">
                                                                <a asp-page="/blocoCRUDItemDoc/Create" asp-route-idbloco="@Model.BlocoProjInvestimento.Id" class="btn btn-success mb-0 lpcrud-novo-menu"><i class="fa fa-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table card-text py-5">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="130px"></th>
                                                                        <th>DT/HR</th>
                                                                        @*<th>TÍTULO INVESTIMENTO</th>*@
                                                                        <th>TÍTULO</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="body-tbl-documentacao" name="body-tbl-documentacao"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 line"></div>
                                <div class="form-group row">
                                    <div class="col-md-12 ml-auto text-center">
                                        <button id="btnsubmitformprincipal" name="btnsubmitformprincipal" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var carregaPrevia = function (evento, elemento) {
            var saida = document.getElementById(elemento);
            saida.src = URL.createObjectURL(evento.target.files[0]);
        };

        $("#mnusidebar_cms_blocosprojinvestimentos").removeClass("collapsed");
        $("#mnusidebar_cms_blocosprojinvestimentos").attr("aria-expanded", "true");
        $("#mnusidebar_cms_blocosprojinvestimentos").addClass("active");

        $(document).ready(function () {
            $('.campo_data').mask('00/00/0000 00:00:00');
            $("#BlocoProjInvestimento_Contato_CEP").mask('00000-000');
            CarregaListaMenus('docsinvest', '#body-tbl-documentacao', @Model.BlocoProjInvestimento.Id);
        });

        function limpa_formulario_cep() {
            $("#BlocoProjInvestimento_Contato_Logradouro").val("");
            $("#BlocoProjInvestimento_Contato_Bairro").val("");
            $("#BlocoProjInvestimento_Contato_Cidade").val("");
            $("#BlocoProjInvestimento_Contato_Estado").val("");
        }
        $("#BlocoProjInvestimento_Contato_CEP").on('keyup', function () {
            if (!parseInt($(this).val().replace(/\D/g, ''))) {
                return;
            }
            var cep = $(this).val().replace(/\D/g, '');
            if (cep !== "") {
                var validacep = /^[0-9]{8}$/;
                if (validacep.test(cep)) {
                    $("#BlocoProjInvestimento_Contato_Logradouro").val("...");
                    $("#BlocoProjInvestimento_Contato_Bairro").val("...");
                    $("#BlocoProjInvestimento_Contato_Cidade").val("...");
                    $("#BlocoProjInvestimento_Contato_Estado").val("...");
                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                        if (!("erro" in dados)) {
                            $("#BlocoProjInvestimento_Contato_Logradouro").val(dados.logradouro);
                            $("#BlocoProjInvestimento_Contato_Bairro").val(dados.bairro);
                            $("#BlocoProjInvestimento_Contato_Cidade").val(dados.localidade);
                            $("#BlocoProjInvestimento_Contato_Estado").val(dados.uf);
                        }
                        else {
                            limpa_formulario_cep();
                            //alert("CEP não encontrado.");
                        }
                    });
                }
                else {
                    limpa_formulario_cep();
                    //alert("Formato de CEP inválido.");
                }
            }
            else {
                limpa_formulario_cep();
            }
        });
    </script>
}