@page
@model House2Invest.Pages.AppPerfil.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
    //Layout = "~/Pages/Shared/_LayoutCMSMetro.cshtml";
}

@*
    <div class="row">
        <div class="col-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-line-chart"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            AJAX Datatable with Child Table
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <a href="#" class="btn btn-clean btn-icon-sm">
                                <i class="la la-long-arrow-left"></i>
                                Back
                            </a>
                            &nbsp;
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-brand btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon2-plus"></i> Add New
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="kt-nav">
                                        <li class="kt-nav__section kt-nav__section--first">
                                            <span class="kt-nav__section-text">Choose an action:</span>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                <span class="kt-nav__link-text">Reservations</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                                <span class="kt-nav__link-text">Appointments</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-bell-alarm-symbol"></i>
                                                <span class="kt-nav__link-text">Reminders</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-contract"></i>
                                                <span class="kt-nav__link-text">Announcements</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-shopping-cart-1"></i>
                                                <span class="kt-nav__link-text">Orders</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__separator kt-nav__separator--fit">
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-rocket-1"></i>
                                                <span class="kt-nav__link-text">Projects</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-chat-1"></i>
                                                <span class="kt-nav__link-text">User Feedbacks</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="row align-items-center">
                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="la la-search"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-form__group kt-form__group--inline">
                                            <div class="kt-form__label">
                                                <label>Status:</label>
                                            </div>
                                            <div class="kt-form__control">
                                                <select class="form-control bootstrap-select" id="kt_form_status">
                                                    <option value="">All</option>
                                                    <option value="1">Pending</option>
                                                    <option value="2">Delivered</option>
                                                    <option value="3">Canceled</option>
                                                    <option value="4">Success</option>
                                                    <option value="5">Info</option>
                                                    <option value="6">Danger</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-form__group kt-form__group--inline">
                                            <div class="kt-form__label">
                                                <label>Type:</label>
                                            </div>
                                            <div class="kt-form__control">
                                                <select class="form-control bootstrap-select" id="kt_form_type">
                                                    <option value="">All</option>
                                                    <option value="1">Online</option>
                                                    <option value="2">Retail</option>
                                                    <option value="3">Direct</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                <a href="#" class="btn btn-default kt-hidden">
                                    <i class="la la-cart-plus"></i> New Order
                                </a>
                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit">
                    <div class="dpslin-datatable" id="filho_data_ajax"></div>
                </div>
            </div>
        </div>
    </div>
*@


<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12">
                                <h6 class="text-uppercase pt-2">Config Portal / Controles / Perfil</h6>
                            </div>
                            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12">
                                <p class="text-gray pt-2 pl-2">
                                    <i class="fa fa-info-circle"></i> Módulo responsável pela seleção do Perfil em vigor (Tema), das informações da Empresa e da Conta em Nuvem para armazenamento de blobs (arquivos) do aplicativo. Uma vez alterada a seleção de um <b>Perfil</b>, os reflexos da mudança na plataforma serão imediatos. Somente <b>ADMINISTRADORES</b> tem acesso a esse módulo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pb-2">
                            <div class="row">
                                <div class="col-12 pt-1">
                                    <form asp-action="Index" method="get" class="form-inline">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <input class="form-control" type="text" name="SearchString" placeholder="Faça sua busca aqui" value="@ViewData["FiltroAtual"]" autofocus>
                                        </div>
                                        <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        @{
                            var anteriorDisabled = !Model.ListaPerfis.TemPaginaAnterior ? "disabled" : "";
                            var proximoDisabled = !Model.ListaPerfis.TemProximaPagina ? "disabled" : "";
                        }
                        <div class="row">
                            <div class="col-12 mt-3 mb-3">
                                <a href="?OrdenarPor=@ViewData["OrdenarPor"]&Pagina=@(Model.ListaPerfis.PagIND - 1)&FiltroAtual=@ViewData["FiltroAtual"]" class="btn btn-primary @anteriorDisabled mr-1"><i class="fa fa-chevron-left"></i></a>
                                <a href="?OrdenarPor=@ViewData["OrdenarPor"]&Pagina=@(Model.ListaPerfis.PagIND + 1)&FiltroAtual=@ViewData["FiltroAtual"]" class="btn btn-primary @proximoDisabled mr-1"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-text py-5">
                                <thead>
                                    <tr>
                                        <th width="130px"></th>
                                        <th>
                                            <a asp-page="Index" asp-route-OrdenarPor="@ViewData["OrdPorStringParam"]" asp-route-FiltroAtual="@ViewData["FiltroAtual"]">PADRÃO</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListaPerfis)
                                    {
                                        <tr>
                                            <td scope="row">
                                                <a asp-page="/AppPerfil/Edit" asp-route-id="@item.Id" class="btn btn-primary btn-pequeno"><i class="far fa-edit"></i></a>
                                                <a href="javascript:ExcluirRegistro('AppPerfil', @item.Id);" class="btn btn-danger btn-pequeno"><i class="fa fa-trash"></i></a>
                                                <a href="/" class="btn btn-success btn-pequeno" title="Visualizar esse Perfil" target="_blank"><i class="fa fa-eye"></i></a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AppConfiguracoes.Descricao)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3 mb-3">
                                <a href="?OrdenarPor=@ViewData["OrdenarPor"]&Pagina=@(Model.ListaPerfis.PagIND - 1)&FiltroAtual=@ViewData["FiltroAtual"]" class="btn btn-primary @anteriorDisabled mr-1"><i class="fa fa-chevron-left"></i></a>
                                <a href="?OrdenarPor=@ViewData["OrdenarPor"]&Pagina=@(Model.ListaPerfis.PagIND + 1)&FiltroAtual=@ViewData["FiltroAtual"]" class="btn btn-primary @proximoDisabled mr-1"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
    .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--check > span > .kt-switch {
        top: 0px;
        display: block;
        padding-top: 0px;
        margin-top: -20px;
    }

    .kt-switch.kt-switch--sm input:empty ~ span:after {
        height: 20px;
        width: 20px;
        line-height: 20px;
        top: 7px;
        bottom: 2px;
        margin-left: 2px;
        font-size: 0.8em;
        text-align: center;
        vertical-align: middle;
    }
</style>
@section Scripts
    {
    <script>
        $("#mnusidebar_cms_configperfil").addClass("active");

        //var _colunas =
        //    [
        //        {
        //            field: 'id',
        //            title: '',
        //            sortable: false,
        //            //width: 30,
        //            //textAlign: 'center'
        //            width: 30,
        //            type: 'number',
        //            selector: false,
        //            textAlign: 'center'
        //        },
        //        {
        //            field: 'checkbox',
        //            title: '',
        //            template: '{{id}}',
        //            sortable: false,
        //            width: 20,
        //            textAlign: 'center',
        //            selector: { class: 'kt-checkbox--solid' }
        //        }
        //        ,
        //        {
        //            field: 'dthr',
        //            title: 'DATA/HORA',
        //            type: 'date',
        //            width: 170,
        //            format: 'DD/MM/YYYY HH:mm'
        //        }
        //        ,
        //        {
        //            field: 'appConfiguracoes.descricao',
        //            title: 'DESCRIÇÃO',
        //            sortable: 'asc'
        //        }
        //        ,
        //        {
        //            field: 'appConfiguracoes.urlExibicao',
        //            title: 'URL',
        //            sortable: 'asc'
        //        }
        //        ,
        //        {
        //            field: 'appConfiguracoes.tema',
        //            title: 'LAYROOT',
        //            sortable: 'asc'
        //        }
        //        ,
        //        {
        //            field: 'appConfiguracoes.caminhoAbsolutoTema',
        //            title: 'PATH',
        //            sortable: 'asc'
        //        },
        //        {
        //            field: 'switch',
        //            title: '<i class="fa fa-user-plus" style="font-size: 1.5rem !important;"></i>',
        //            template: '{{appConfiguracoes.novosUsuarios}}',
        //            width: 70,
        //            textAlign: 'center',
        //            selector: { class: 'kt-switch kt-switch--sm kt-switch--icon desativado centro-horiz' }
        //        },
        //        {
        //            field: 'switch',
        //            title: '<i class="fa fa-user-cog" style="font-size: 1.5rem !important;"></i>',
        //            template: '{{appConfiguracoes.novosUsuarios_NivelADM}}',
        //            width: 70,
        //            textAlign: 'center',
        //            selector: { class: 'kt-switch kt-switch--sm kt-switch--icon desativado centro-horiz' }
        //        }
        //    ];
        //var datatable = $('.dpslin-datatable').KTDatatable({
        //    data: {
        //        responsive: true,
        //        type: 'remote',
        //        source: {
        //            read: {
        //                url: '/api/sistema/datatableajax_appperfil'
        //            }
        //        },
        //        pageSize: 10,
        //        serverPaging: true,
        //        serverFiltering: false,
        //        serverSorting: true
        //    },
        //    layout: {
        //        scroll: false,
        //        height: null,
        //        footer: false
        //    },
        //    sortable: true,
        //    pagination: true,
        //    detail: {
        //        title: 'Detalhes',
        //        content: subTableInit
        //    },
        //    search: {
        //        input: $('#generalSearch')
        //    },
        //    columns: _colunas
        //});
        //$('#kt_form_status').on('change', function () {
        //    datatable.search($(this).val().toLowerCase(), 'Status');
        //});
        //$('#kt_form_type').on('change', function () {
        //    datatable.search($(this).val().toLowerCase(), 'Type');
        //});
        //$('#kt_form_status,#kt_form_type').selectpicker();
        //function subTableInit(e) {
        //        $('<div/>').attr('id', 'filho_data_ajax_' + e.data.id).appendTo(e.detailCell).KTDatatable({
        //            data: {
        //            type: 'remote',
        //            source: {
        //                read: {
        //                    //url: 'https://keenthemes.com/metronic/themes/themes/metronic/dist/preview/inc/api/datatables/demos/orders.php',
        //                    url: '/api/sistema/datatableajax_appperfil_filhoaplicativo?id=' + e.data.appConfiguracoes.appConfiguracoes_AplicativoId,
        //                    params: {
        //                        query: {
        //                            generalSearch: '',
        //                            id: e.data.appConfiguracoes.appConfiguracoes_AplicativoId
        //                        }
        //                    }
        //                }
        //            },
        //            pageSize: 10,
        //            serverPaging: true,
        //            serverFiltering: false,
        //            serverSorting: true
        //        },
        //        layout: {
        //            scroll: true,
        //            height: 300,
        //            footer: false,
        //            spinner: {
        //                type: 1,
        //                theme: 'default'
        //            }
        //        },
        //        sortable: true,
        //        columns:
        //        [
        //            {
        //                field: 'id',
        //                title: 'ID',
        //                sortable: false,
        //                width: 30
        //            }
        //            ,
        //            {
        //                field: 'empresa',
        //                title: 'Empresa',
        //                width: 150
        //                },
        //                {
        //                    field: 'logotipoEmpresa',
        //                    title: 'LOGO',
        //                    template: function (data) {
        //                        //function (data, i) {
        //                        //var number = 4 + i;
        //                        //while (number > 12) {
        //                        //    number = number - 3;
        //                        //}
        //                        //var user_img = '100_' + number + '.jpg';
        //                        //var pos = KTUtil.getRandomInt(0, 5);
        //                        //var position = [
        //                        //    'Developer',
        //                        //    'Designer',
        //                        //    'CEO',
        //                        //    'Manager',
        //                        //    'Architect',
        //                        //    'Sales'
        //                        //];
        //                        //var output = '';
        //                        //if (number > 5) {
        //                        //    output = '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img src="https://keenthemes.com/metronic/preview/assets/media/users/' + user_img + '" alt="photo"></div><div class="kt-user-card-v2__details"><a href="#" class="kt-user-card-v2__name">' + data.CompanyAgent + '</a><span class="kt-user-card-v2__desc">' + position[pos] + '</span></div></div>';
        //                        //}
        //                        //else {
        //                        //    var stateNo = KTUtil.getRandomInt(0, 6);
        //                        //    var states = [
        //                        //        'success',
        //                        //        'brand',
        //                        //        'danger',
        //                        //        'success',
        //                        //        'warning',
        //                        //        'primary',
        //                        //        'info'];
        //                        //    var state = states[stateNo];
        //                        //    output = '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><div class="kt-badge kt-badge--xl kt-badge--' + state + '">' + data.CompanyAgent.substring(0, 1) + '</div></div><div class="kt-user-card-v2__details"><a href="#" class="kt-user-card-v2__name">' + data.CompanyAgent + '</a><span class="kt-user-card-v2__desc">' + position[pos] + '</span></div></div>';
        //                        //}

        //                        return '<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img src="' + data.logotipoEmpresa + '" alt="photo"></div><div class="kt-user-card-v2__details"><a href="#" class="kt-user-card-v2__name">TESTE</a><span class="kt-user-card-v2__desc">1</span></div></div>';
        //                        //return output;
        //                    }
        //                }
        //            //,
        //            //{
        //            //    field: 'appConfiguracoes.descricao',
        //            //    title: 'Descrição',
        //            //    width: 100
        //            //}
        //        ]
        //    });
        //}
        //jQuery(document).ready(function () {

        //});
    </script>
}