@using Microsoft.EntityFrameworkCore
@inject IOptions<AppConfig> AppConfig
@inject House2Invest.Data.ApplicationDbContext _contexto
@{
    string nomeusuario = "desconhecido";
    string idusuario = "desconhecido";
    string avatarusuario = "/temas/cms/img/avatar-2x.png";
    string funcaousuario = "desconhecido";
    string empresausuario = "desconhecida";
    if (Context.User.Identity.IsAuthenticated)
    {
        try
        {
            UsuarioApp _usulogado = _contexto.Users
                .Where(x => x.UserName == Context.User.Identity.Name)
                .FirstOrDefault();

            nomeusuario = $"{_usulogado.Nome} {_usulogado.Sobrenome}";
            idusuario = $"{_usulogado.Id}";
            avatarusuario = _usulogado.AvatarUsuario;
            funcaousuario = _usulogado.Sistema_FuncaoUsuario;

            empresausuario = _contexto.AppConfiguracoes.Include(x => x.AppConfiguracoes_Aplicativo).Where(x => x.Id == _usulogado.AppConfiguracoesId).FirstOrDefault().AppConfiguracoes_Aplicativo.Empresa;
        }
        catch (Exception) { }
    }

    var _appconfig = new House2Invest.Models.AppConfiguracoes();
    try
    {
        _appconfig = _contexto.AppConfiguracoes.Include(x => x.AppConfiguracoes_Aplicativo).Include(y => y.AppConfiguracoes_Azure).FirstOrDefault();
    }
    catch (Exception) { }
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CMS - Padrão</title>
    <meta name="description" content="@_appconfig.AppConfiguracoes_Aplicativo.Empresa">
    <meta name="author" content="@_appconfig.AppConfiguracoes_Aplicativo.Empresa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="shortcut icon" href="/images/icone-house-2-invest.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/icone-house-2-invest.png" />
    <link rel="stylesheet" href="/temas/cms/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/temas/cms/vendor/fontawesome-free-5.6.3-web/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800" />
    <link rel="stylesheet" href="/temas/cms/css/orionicons.css" />
    <link rel="stylesheet" href="/temas/cms/css/style.default.css" id="theme-stylesheet" />
    <link rel="stylesheet" href="/temas/cms/css/component.css" id="theme-stylesheet" />
    <link rel="stylesheet" href="/temas/cms/vendor/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="/temas/cms/css/codemirror.css" />
    <link href="/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css">
    <link href="/lib/select2/dist/css/select2.css" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" href="/hubCore/core.correio.css" />*@
    <link href="/temas/metro/vendors/general/summernote/dist/summernote.css" rel="stylesheet" type="text/css" />
    <link href="/temas/metro/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/temas/cms/css/custom.css" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="imagem-aguarde-cms" name="imagem-aguarde-cms" class="invisivel">
        <img class="mx-auto d-block img-fluid" src="/images/lg.gooey-ball-lodaer.gif" alt="Aguarde">
    </div>
    @await Html.PartialAsync("~/Pages/Shared/Renderizar/cabecalho-cms.cshtml")
    <div id="main" class="d-flex align-items-stretch">
        <div id="sidebar" class="sidebar py-3">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MENU</div>
                <ul class="sidebar-menu list-unstyled">
                    <li class="sidebar-list-item"><a id="mnusidebar_cms_dashboard" name="mnusidebar_cms_dashboard" is-active-route asp-page="/IndexCMS" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Resumo</span></a></li>
                </ul>

                @if (User.IsInRole("SIS"))
                {
                    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">CONFIG PORTAL</div>
                    <ul class="sidebar-menu list-unstyled">
                        <li class="sidebar-list-item">
                            <a id="mnusidebar_cms_configperfil" name="mnusidebar_cms_configperfil" is-active-route asp-page="/AppPerfil/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Perfil</span></a>
                        </li>
                        <li class="sidebar-list-item">
                            <a id="mnusidebar_cms_taxasmercado" name="mnusidebar_cms_taxasmercado" is-active-route asp-page="/CMSTaxasMercado/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Taxas</span></a>
                        </li>

                        <li class="sidebar-list-item">
                            <a id="mnusidebar_cms_controles" name="mnusidebar_cms_controles" href="#" data-toggle="collapse" data-target="#target_mnuconfig" aria-expanded="false" aria-controls="target_mnuconfig" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>CONFIG</span></a>
                            <div id="target_mnuconfig" class="collapse">
                                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_controlestema" name="mnusidebar_cms_controlestema" is-active-route asp-page="/Config/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Tema</span></a></li>
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_controlesapp" name="mnusidebar_cms_controlesapp" is-active-route asp-page="/ConfigApp/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Aplicação</span></a></li>
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_controlesazure" name="mnusidebar_cms_controlesazure" is-active-route asp-page="/ConfigAzure/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Nuvem</span></a></li>
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_modelosdoc" name="mnusidebar_cms_modelosdoc" is-active-route asp-page="/CMSModeloDoc/Index" class="sidebar-link text-muted"><i class="o-bookmark-archive-1 mr-3 text-gray"></i><span>Modelos Doc.</span></a></li>
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_usuarios" name="mnusidebar_cms_usuarios" is-active-route asp-page="/CMSUsuarios/Index" class="sidebar-link text-muted"><i class="o-user-1 mr-3 text-gray"></i><span>Usuários</span></a></li>
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_eventos" name="mnusidebar_cms_eventos" is-active-route asp-page="/CMSEventos/Index" class="sidebar-link text-muted"><i class="o-archive-1 mr-3 text-gray"></i><span>Eventos</span></a></li>
                                    @*<li class="sidebar-list-item"><a id="mnusidebar_cms_faq" name="mnusidebar_cms_faq" is-active-route asp-page="/CMSFAQ/Index" class="sidebar-link text-muted"><i class="o-archive-1 mr-3 text-gray"></i><span>FAQ</span></a></li>*@

                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_cmsdumpsql" name="mnusidebar_cms_cmsdumpsql" is-active-route asp-page="/CMSDumpSql/Index" class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>DUMPS</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                }

                <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">TABELAS</div>
                <ul class="sidebar-menu list-unstyled">
                    <li class="sidebar-list-item">
                        <a id="mnusidebar_cms_dados" name="mnusidebar_cms_dados" href="#" data-toggle="collapse" data-target="#target_dados" aria-expanded="false" aria-controls="target_dados" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>DADOS</span></a>
                        <div id="target_dados" class="collapse">
                            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                                @if (User.IsInRole("SIS"))
                                {
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_construtoras" name="mnusidebar_cms_construtoras" is-active-route asp-page="/CMSConstrutoras/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Incorporadoras</span></a></li>
                                    <li class="sidebar-list-item"><a id="mnusidebar_cms_dadosgaleria" name="mnusidebar_cms_dadosgaleria" is-active-route asp-page="/AppGaleria/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Galeria</span></a></li>
                                }
                                <li class="sidebar-list-item"><a id="mnusidebar_cms_blocosprojinvestimento_valores" name="mnusidebar_cms_blocosprojinvestimento_valores" is-active-route asp-page="/BlocosProjInvestValor/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Investimentos</span></a></li>
                                <li class="sidebar-list-item"><a id="mnusidebar_cms_transferencias" name="mnusidebar_cms_blocosprojinvestimento_valores" is-active-route asp-page="/ControleTransf/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Transferências</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            }

            <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">FRENTE</div>
            <ul class="sidebar-menu list-unstyled">
                @if (User.IsInRole("SIS"))
                {
                    <li class="sidebar-list-item"><a id="mnusidebar_cms_blocosprojinvestimentos" name="mnusidebar_cms_blocosprojinvestimentos" is-active-route asp-page="/BlocosProjInvest/Index" class="sidebar-link text-muted"><i class="o-diploma-1 mr-3 text-gray"></i><span>OFERTAS</span></a></li>
                }
                @*<li class="sidebar-list-item"><a id="mnusidebar_cms_blocosprojinvestimento_valores" name="mnusidebar_cms_blocosprojinvestimento_valores" is-active-route asp-page="/BlocosProjInvestValor/Index" class="sidebar-link text-muted"><i class="o-app-layout-1 mr-3 text-gray"></i><span>Investimentos</span></a></li>*@
                <li class="sidebar-list-item"><a asp-page="/Index" class="sidebar-link text-muted"><i class="o-imac-screen-1 mr-3 text-gray"></i><span>Website</span></a></li>
            </ul>
        </div>
        <!-- page-holder w-100 d-flex flex-wrap -->
        <div class="page-holder w-100 d-flex flex-wrap">

            @*<div class="container-fluid px-xl-5">*@

            @RenderBody()

            @*</div>*@

            @*
                <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 text-center text-md-left text-primary">
                                <p class="mb-2 mb-md-0">@AppConfig.Value.Aplicativo.Nome&copy; @DateTime.Now.Year</p>
                            </div>
                            <div class="col-md-6 text-center text-md-right text-gray-400">
                                <p class="mb-0">Desenvolvido por <a href="http://www.depoisdalinha.com.br" class="external text-gray-400" target="_blank">Depois da Linha</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            *@
        </div>
    </div>
    <script src="/temas/cms/vendor/jquery/jquery.min.js"></script>
    <script src="/temas/cms/vendor/popper.js/umd/popper.min.js"></script>
    <script src="/temas/cms/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/temas/cms/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="/temas/cms/js/SmartNotification.min.js"></script>
    <script src="/temas/cms/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="/temas/cms/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/temas/cms/js/custom-file-input.js"></script>
    <script src="/temas/cms/vendor/codemirror/lib/codemirror.js"></script>
    <script src="/temas/cms/vendor/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/temas/cms/vendor/codemirror/addon/display/autorefresh.js"></script>
    <script src="/temas/cms/vendor/codemirror/mode/css/css.js"></script>
    <script src="/lib/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="/lib/select2/dist/js/select2.full.js" type="text/javascript"></script>
    <script src="/lib/select2/dist/js/i18n/pt-BR.js" type="text/javascript"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="/temas/cms/js/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="/lib/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="/js/mascaras_e_afins.js"></script>
    <script src="/temas/cms/js/front.js"></script>
    @*<script src="/temas/cms/js/depoisdalinha.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="/lib/signalr/signalr.js"></script>
        <script src="/hubCore/core.signalR.js"></script>
        <script src="/hubCore/core.correio.js"></script>
    }
    @*<script src="/temas/metro/app/custom/general/components/charts/amcharts/graficos.js" type="text/javascript"></script>*@
    @*
        <script src="/temas/metro/app/custom/general/components/charts/amcharts/maps.js" type="text/javascript"></script>
        <script src="/temas/metro/app/custom/general/components/charts/amcharts/stock-charts.js" type="text/javascript"></script>
    *@
    <script src="/temas/metro/vendors/general/summernote/dist/summernote.js" type="text/javascript"></script>
    <script src="/temas/metro/vendors/general/markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="/temas/metro/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="/temas/metro/vendors/custom/components/vendors/bootstrap-markdown/init.js" type="text/javascript"></script>
    <script src="/temas/metro/app/custom/general/crud/forms/widgets/summernote.js" type="text/javascript"></script>
    
    <script src="/temas/dpslintm1/assets/js/jquery.countdown.min.js"></script>
    <script src="/temas/metro/vendors/general/counterup/jquery.counterup.js" type="text/javascript"></script>

    <script src="/temas/cms/js/depoisdalinha.js"></script>
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };

        $(document).ready(function () {
            Notificacoes();
        });

        $("#formPrincipal").on("submit", function (e) {
            e.preventDefault;

            //$("#imagem-aguarde-cms").removeClass("invisivel");

            var isFormValid = true;
            $('input').filter('[required]:visible').each(function () {
                if ($.trim($(this).val()).length == 0) {
                    $(this).addClass("highlight");
                    isFormValid = false;
                }
                else {
                    $(this).removeClass("highlight");
                }
            });

            //if (!isFormValid)
            //    $("#imagem-aguarde-cms").addClass("invisivel");
        })
        @*
        "use strict";
            const connectioncms = new signalR.HubConnectionBuilder()
                .withUrl("/chatHubCMS")
                .configureLogging(signalR.LogLevel.Information)
                .build();

        connectioncms.on("ForceLogOff", function (message) {
            var scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            $.ajax({
                url: "/api/sistema/forcalogoff?id=@idusuario&sl=" + scrollLeft + "&st=" + scrollTop + "&rota=" + window.location.href,
                    complete: function () { },
                    success: function (retorno) {
                        if (retorno.status === "ok") {
                            window.location.href = "/LogOffForcado";
                        }
                    },
                    error: function (error) { }
                });
        });

        connectioncms.start().then(function () {
            console.log("Conectado CMS");
        });

        async function start() {
            try {
                await connectioncms.start();
                console.log("reconectado");
            } catch (err) {
                console.log(err);
                setTimeout(() => start(), 5000);
            }
        };

        connectioncms.onclose(async () => {
            await start();
        });
        *@
    </script>
</body>
</html>
@RenderSection("Scripts", required: false)
<form id="formLogoutCMS" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("Index")" method="post"></form>